@page
@model BitBlog.Pages.Blog.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlogPost[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPost[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPost[0].Article)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BlogPost) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Key">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Key">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Key">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
